 /* sidebar styles not working*/
 #offcanvas-body {
    background-color: #224562;
    color: #224562;
    background-            image: url(https://mdbootstrap.com/img/Photos/Others/sidenav4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border:none;
    }
@media only screen and (max-width: 412px) {
    #cardgo {
        display: none;
    }
}
.cardgo {
	max-width: 412px
	
}